#primerDiv, #tercerDiv{
    float: left;
    width: 300px;
    height: 300px;
}

#primerDiv{
    background-color: yellow;
}

#segundoDiv{
    background-color: purple;
    width: 300px;
    height: 275px;
    position: absolute;
    left: 500px;
    bottom: 400px;
}

#tercerDiv{
    background-color: greenyellow;
}

#cuartoDiv{
    clear: both;
    background-color: orange;
    height: 100px;
}