.texto{
    color: #666;
}

.tituloPrincipal, .titulopSecundario{
    color: #000;
}

.tituloPrincipal{
    text-decoration: underline;
    letter-spacing: 5px;
}

.tituloSecundario{
    text-decoration: overline;
    letter-spacing: 3px;
}

td, th{
    width: 42.5%;
}

th{
    font-weight: bolder;
    background-color: black;
    color: white;
}

table, td{
    border: 1px solid black;
}