.texto{
    color: #666;
}

.tituloPrincipal, .titulopSecundario{
    color: #000;
}

.tituloPrincipal{
    text-decoration: underline;
    letter-spacing: 5px;
}

.tituloSecundario{
    text-decoration: overline;
    letter-spacing: 3px;
}

th{
    font-weight: bolder;
    background-color: black;
    color: white;
}

th:first-child{
    padding: 0px 5px;
}

table, td{
    border: 1px solid black;
}

table tr:nth-child(2n){
    background-color: #999;
}

table tr:nth-child(2n + 1){
    background-color: #ccc;
}

table{
    border-collapse: separate;
}