div:first-child{
    width: 100%;
    height: 350px;
    background-image: url('../CSS/Imágenes/asamblea regional Cartagena.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

div:nth-child(2){
    width: 100%;
    height: 350px;
    background-image: url('../CSS/Imágenes/foto teatro romano.jpg');
    background-size: cover;
}