#divPadre{
    display: flex;
    justify-content: space-around;
}

#divIzquierdo{
    background-color: purple;
    width: 40%;
    height: 100px;
    min-width: 500px;
}

#divDerecho{
    background-color: pink;
    width: 40%;
    height: 100px;
    min-width: 500px;
}