@font-face{
    font-family: 'Roboto normal';
    src: url('Fuentes/Xanh_Mono/XanhMono-Regular.ttf');
}

@font-face{
    font-family: 'Roboto italica';
    src: url(Fuentes/Xanh_Mono/XanhMono-Italic.ttf);
}

body{
    background-color: black;
    color: white;
}

h1, h2{
    font-weight: lighter;
}

h1{
    letter-spacing: 10px;
    text-decoration: underline;
}

h2{
    font-variant: small-caps;
    letter-spacing: 5px;
}

ul > li{
    font-style: italic;
}