body{
    background-color: black;
    overflow: hidden;
}

#background{
    height: 700px;
    display: block;
    margin: auto;
}

#nube{
    position: absolute;
    top: 200px;
    left: 285px;
    transition: transform 500s;
    transform: translateX(965px);
}

#barco{
    position: absolute;
    top: 375px;
    left: 285px;
    transition: transform 140s;
    transform: translateX(965px);
}

#faro{
    position: absolute;
    top: 275px;
    left: 1053px;
}

@keyframes luzFaro{
    from {
        transform-origin: 100% 100%;
        transform: rotateY(0deg);
    }
    to {
        transform-origin: 100% 100%;
        transform: rotateY(360deg);
    }
}

#luzFaro{
    animation: luzFaro 12s infinite;
    animation-delay: 0s;
    position: absolute;
    right: 25%;
    bottom: 39.60%;
}

.pajaro{
    position: absolute;
}

.pajaro1{
    right: 21%;
    bottom: 50%;
    transition: transform 130s;
    transform: translateX(-965px);
}

.pajaro2{
    right: 19%;
    bottom: 54%;
    transition: transform 115s;
    transform: translateX(-965px);
}
